@font-face {
  font-family: 'vogue':
  src: url(Vogue.ttf) format('truetype'),
}
@font-face {
  font-family: 'Annamellia';
  src: url('Annamellia.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica.ttf') format('truetype')
}


/* @font-face {
  font-family: 'CodeBold';
  src: url('CODEBold.otf') format("opentype"),
}

@font-face {
  font-family: 'CodeLight';
  src: url('CODELight.otf') format("opentype"),
} */

body {
  font-family: Helvetica, sans-serif;
  border
}

.navbar {
  overflow: hidden;
  background-color: white;
  border: solid 5px #DADDDF;
}

.navbar a  /* controls the misc*/{
  float: left;
  font-size: 20px;
  color: black; /* controls the background color*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown2 {
  float: left;
  overflow: hidden;
}

.Agenda{
  text-align: center;
  font-family: 'Vogue', Fallback, sans-serif;
  font-size: 250px;
  margin-bottom: -60px;
  margin-top: 0px;
}

.name-card /* puts the task below */{
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
  background: #E78469;
  background-color: #fff;
}

.name /* form imput*/{
  margin-right: 10px;
  padding-right: 10px;
  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
}

.submit-btn/* submit button format */ {
  width: 300px;
  padding: 5px;
  margin: 5px auto 25px auto;
  border-radius: 2px;
  color: black;
  font-size: 100%;
  padding-left: 30px;
}

.info-stuff{
  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
}

.whattodo{
  margin-bottom: -10px;
  padding-left: 30px;
  font-size: 25px;
}
.warning{
  margin-bottom: -10px;
  padding-left: 30px;
  font-size: 15px;
}

.daylabel{
  margin-bottom: -10px;
  padding-left: 30px;
  font-size: 25px;
}

#optionsasdaysList{
  width: 300px;
  padding: 5px;
  margin: 5px auto 25px auto;
  border-radius: 2px;
  color: black;
  font-size: 100%;
}
.monday-container{
  background-color: #FFFF99;
}

.tuesday-container{
  background-color: #99FF99;
}

.monTD{
    margin-left: 30px;
}

.wednesday-container{
background-color: pink;
}

.thursday-container{
  background-color: #FFCC99;
}

.friday-container{
  background-color: #FFFF99;
}

.saturday-container{
  background-color: #99FF99;
}

.sunday-container{
  background-color: pink;
}
.stickynotes{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px;
  grid-gap: 10px;
  padding: 10px;
}
